body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header {
    background: #0077b6;
    color: white;
    padding: 15px;
    text-align: center;
}
nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}
.banner {
    text-align: center;
    padding: 60px;
    background-color: aliceblue;
}
h2,h3{
    color: #0077b6;
}
#service-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h2{
    text-align: center;
}
button:hover {
    background: #023e8a;
    color: white;
}
.service-card{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
}
.service-card button{
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
#contact{
    font-style: italic;
    width: 450px;
    text-align: justify;
    margin-left: 500px;
}
#contact button{
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
}
#contact button:hover{
    background-color: grey;
    color: aquamarine;
}
.services p{
    color: #333;
}
input[type="text"], input[type="email"], input[type="date"], input[type="time"] {
    width: 250px;
    padding: 15px;
    border: 2px solid #0077b6;
    border-radius: 5px;
}
footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}